/*Header*/
body {
	background-color: #dde2e2;
}

.top-header .col-md-12 {
	padding: 0px;
}

.navbar {
	background-color: #737776;
	border: none;
	border-radius: 0px;
	color: white;
}

.navbar-default .navbar-nav li a  {
	padding: 15px 0px;
	margin-top: 20px;
	margin-right: 30px;
	color: white;
	font-size: 20px;
}

.navbar-default .navbar-nav li a:hover  {
	border-bottom: 2px solid #80ccec;
	color: #80ccec;
}

.navbar-default .navbar-nav {
	margin-right: 40px;
}

.logo {
	margin: 5px 0px 5px 50px;
	max-height: 60%;
	max-width: 60%;
}

/*Top*/
#top .col-md-8 {
	padding-top: 20px;
	text-align: center;
	background-color: #c0cfcf;
	color: white;
	font-size: 20px;
}

#top .col-md-3 {
	margin-left: 45px;
	text-align: center;
	background-color: #80ccec;
	color: white;
	font-size: 20px;
}

#top .btn {
	font-size: 16px;
	width: 205px;
	height: 50px;
	background-color: #80ccec;
	margin-top: 10px;
	margin-bottom: 30px;
	box-shadow: 2px 3px 5px 1px #737776;
}

#top .btn:active{
	background-color: #80ccec;
	box-shadow: none;
}

#top .btn:hover{
	color: white;
}

/*Middle*/
#middle {
	margin-top: 20px;
}

.foto1 {
	padding-right: 20px;
	padding-bottom: 40px;
	display: inline-block;
	width: 387px;
	height: 377px;
}

.foto2 {
	padding-left: 20px;
	padding-bottom: 40px;
	display: inline-block;
	width: 387px;
	height: 377px;
}

#middle .col-md-8 {
	padding: 0px;
}

#middle .col-md-3 {
	margin-left: 45px;
	padding: 0px;
}

.txt {
	font-size: 20px;
	color: #80ccec;
	margin-left: 170px;
	word-spacing: 360px;
}

.tx  {
	color: white;
	font-size: 20px;
	padding: 50% 5%;
	text-align: center;
	background-color: #c0cfcf;
	height: 337px;
	margin-bottom: 40px;
	display: inline-block;
}

/*Bottom*/
#bottom .col-md-11 {
	width: 1116px;
	background-color: #c0cfcf;
}

#bottom h1 {
	margin-top: 5px;
	color: white;
}

#bottom p {
	font-size: 20px;
	color: white;
}

.footer {
	margin-top: 20px;
	padding: 20px 0px;
	background-color: #80ccec; 
}

.footer p {
	color: white;
    font-size: 20px;
	margin-left: 42%;	
}
